*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f4f9f4;
}

/* Navbar */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#2e7d32;
color:white;
padding:15px 40px;
}

.navbar h1{
font-size:24px;
}

.nav-links a{
color:white;
text-decoration:none;
margin-left:20px;
font-weight:bold;
}

/* Hero Section */

.hero{
height:300px;
background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url("https://images.unsplash.com/photo-1500382017468-9049fed747ef");
background-size:cover;
background-position:center;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
text-align:center;
}

.hero h2{
font-size:36px;
margin-bottom:10px;
}

/* Services */

.services{
padding:50px;
text-align:center;
}

.services h2{
margin-bottom:30px;
color:#2e7d32;
}

.service-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.card{
background:white;
padding:25px;
width:250px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

.card h3{
color:#2e7d32;
margin-bottom:10px;
}

/* Footer */

footer{
background:#2e7d32;
color:white;
text-align:center;
padding:15px;
margin-top:40px;
}